/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  


 /* Global CSS or custom Tailwind configuration */
.h-screen-minus-header {
  height: calc(100vh - 4rem); 
} 